  .notebook-link {
    position: absolute;
    top: 1890px;    /* tweak these to line up on your shelf */
    left: 53px;
    cursor: pointer;
    text-decoration: none;
    z-index: 5;
  }

  .notebook-img {
    display: block;
    width: 170px;  /* or whatever your camera size is */
    height: 505px;
    object-fit: cover;
  transition: transform 0.3s ease;   /* animate the scale */
  transform-origin: center center;    /* scale from its center */
  }

  /* scale up when hovered */
.notebook-link:hover .notebook-img, .greenbook-img1:hover,
.greenbook-img2:hover,
.greenbook-img3:hover,
.greenbook-img4:hover,
.greenbook-img5:hover,
.greenbook-img6:hover,
.greenbook-img7:hover,
.greenbook-img8:hover,
.greenbook-img9:hover,
.greenbook-img10:hover,
.greenbook-img11:hover,
.greenbook-img12:hover,
.greenbook-img13:hover,
.greenbook-img14:hover,
.greenbook-img15:hover,
.greenbook-img16:hover {
    transform: scale(1.1);              /* 10% larger on hover */
  }

  .greenbook1 {
    position: absolute;
    top: 1940px;    /* tweak these to line up on your shelf */
    left: 140px;
    text-decoration: none;
    z-index: 5;
  }

  .greenbook-img1 {
    display: block;
    width: 160px;  /* or whatever your camera size is */
    height: 450px;;
  }

  .greenbook2 {
    position: absolute;
    top: 1957px;    /* tweak these to line up on your shelf */
    left: 243px;
    text-decoration: none;
    z-index: 5;
  } 

  .greenbook-img2 {
    display: block;
    width: 132px;  /* or whatever your camera size is */
    height: 425px;;
  }

  .greenbook3 {
    position: absolute;
    top: 1965px;    /* tweak these to line up on your shelf */
    left: 318px;
    text-decoration: none;
    z-index: 5;
  }

  .greenbook-img3 {
    display: block;
    width: 132px;  /* or whatever your camera size is */
    height: 423px;;
  }

  .greenbook4 {
    position: absolute;
    top: 1965px;    /* tweak these to line up on your shelf */
    left: 386px;
    text-decoration: none;
    z-index: 5;
  }

  .greenbook-img4 {
    display: block;
    width: 132px;  /* or whatever your camera size is */
    height: 423px;;
  }

  .greenbook5 {
    position: absolute;
    top: 1965px;    /* tweak these to line up on your shelf */
    left: 446px;
    text-decoration: none;
    z-index: 5;
  }

  .greenbook-img5 {
    display: block;
    width: 137px;  /* or whatever your camera size is */
    height: 423px;;
  }

  .greenbook6 {
    position: absolute;
    top: 1960px;    /* tweak these to line up on your shelf */
    left: 520px;
    text-decoration: none;
    z-index: 5;
  }

  .greenbook-img6 {
    display: block;
    width: 134px;  /* or whatever your camera size is */
    height: 425px;;
  }

  .greenbook7 {
    position: absolute;
    top: 1960px;    /* tweak these to line up on your shelf */
    left: 590px;
    text-decoration: none;
    z-index: 5;
  }

  .greenbook-img7 {
    display: block;
    width: 129px;  /* or whatever your camera size is */
    height: 425px;;
  }

  .greenbook8 {
    position: absolute;
    top: 1960px;    /* tweak these to line up on your shelf */
    left: 665px;
    text-decoration: none;
    z-index: 5;
  }

  .greenbook-img8 {
    display: block;
    width: 134px;  /* or whatever your camera size is */
    height: 425px;;
  }

  .greenbook9 {
    position: absolute;
    top: 1960px;    /* tweak these to line up on your shelf */
    left: 745px;
    text-decoration: none;
    z-index: 5;
  }

  .greenbook-img9 {
    display: block;
    width: 130px;  /* or whatever your camera size is */
    height: 422px;;
  }

  .greenbook10 {
    position: absolute;
    top: 1962px;    /* tweak these to line up on your shelf */
    left: 821px;
    text-decoration: none;
    z-index: 5;
  }

  .greenbook-img10 {
    display: block;
    width: 145px;  /* or whatever your camera size is */
    height: 425px;;
  }

  .greenbook11 {
    position: absolute;
    top: 1965px;    /* tweak these to line up on your shelf */
    left: 888px;
    text-decoration: none;
    z-index: 4;
  }

  .greenbook-img11 {
    display: block;
    width: 220px;  /* or whatever your camera size is */
    height: 423px;
  }

  .greenbook12 {
    position: absolute;
    top: 1962px;    /* tweak these to line up on your shelf */
    left: 1043px;
    text-decoration: none;
    z-index: 5;
  }

  .greenbook-img12 {
    display: block;
    width: 143px;  /* or whatever your camera size is */
    height: 425px;;
  }

  .greenbook13 {
    position: absolute;
    top: 1962px;    /* tweak these to line up on your shelf */
    left: 1114px;
    text-decoration: none;
    z-index: 4;
  }

  .greenbook-img13 {
    display: block;
    width: 143px;  /* or whatever your camera size is */
    height: 425px;;
  }

  .greenbook14 {
    position: absolute;
    top: 1958px;    /* tweak these to line up on your shelf */
    left: 1185px;
    text-decoration: none;
    z-index: 3;
  }

  .greenbook-img14 {
    display: block;
    width: 143px;  /* or whatever your camera size is */
    height: 425px;;
  }

  .greenbook15 {
    position: absolute;
    top: 1955px;    /* tweak these to line up on your shelf */
    left: 1256px;
    text-decoration: none;
    z-index: 2;
  }

  .greenbook-img15 {
    display: block;
    width: 143px;  /* or whatever your camera size is */
    height: 422px;;
  }

  .greenbook16 {
    position: absolute;
    top: 1963px;    /* tweak these to line up on your shelf */
    left: 1322px;
    text-decoration: none;
    z-index: 1;
  }

  .greenbook-img16 {
    display: block;
    width: 143px;  /* or whatever your camera size is */
    height: 420px;;
  }
